# Replace with your MongoDB Atlas connection string
MONGO_URI=your_mongodb_connection_string

# Replace with your JWT secret
JWT_SECRET=your_jwt_secret

PORT=3000

# Replace with email credentials
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_gmail_app_password
EMAIL_FROM=your_email@gmail.com